<h1>Users</h1>
<% @users.each do |user| %>
  
  <h3><%= user.gamertag %></h3>

  <div id="user-<%= user.id %>"></div>
  <button class="js-games-played" data-id="<%= user.id %>">Games Played</button>

<% end %>


